.task-form {
  background-color: #fff;
  padding: 1rem 1.25rem;
  color: #000;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.task-form input {
  border: none;
  width: 100%;
  font: inherit;
  font-size: 1rem;
}

.task-form input:focus {
  outline: none;
}

.task-form input::placeholder {
  color: var(--gray);
  font-style: italic;
}

.task-form__actions {
  display: flex;
}

.task-form__actions button {
  border-radius: 5px;
  padding: 0.25rem 0.75rem;
  color: #000;
  border: 1px dashed var(--gray-lighter);
}

.task-form__actions button svg {
  stroke: var(--gray-darker);
  fill: var(--gray-darker);
  width: 1.25rem;
  height: 1.25rem;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.task-form__actions button:hover {
  border: 1px solid var(--gray-lighter);
}

.task-form__actions-right {
  margin-left: auto;
  display: flex;
  column-gap: 1rem;
}

.task-form__actions button#delete-button {
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  align-items: center;
}

.task-form__actions button#delete-button:hover {
  border-style: solid;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-style 0.3s ease-in-out;
}
